<body>
    <header></header>

    <main>

        <div class="navbar-fixed">
            <nav>
                <div>
                    <a href="index.php">Examen Segundo parcial</a>
                    <ul id="nav-mobile" class="right">
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">

            <h3>Jurassic Park</h3>

            <a class="right btn-floating btn-large waves-effect waves-light blue" href="agregarLugar.php">Lugar</a>

            <?=consultar_lugares();?>

        </div>